*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button,
input[type=submit] {
  display: block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

input[type=search] {
  border: none;
}

.container {
  max-width: 86.4286rem;
  margin: auto;
  padding: 0 15px;
}

.title-1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5714rem;
}

.search {
  margin-top: 3.5714rem;
  background: #2347A6;
  padding: 1.4286rem 0;
}

.search-field {
  position: relative;
}

.search-field input {
  width: 100%;
  line-height: 1.1429rem;
  padding: 1.0714rem 1.7857rem;
  border-radius: 6px;
  font-size: 1rem;
}

.search-field input::-webkit-input-placeholder {
  font-size: 1rem;
}

.search-field input::-moz-placeholder {
  font-size: 1rem;
}

.search-field input:-ms-input-placeholder {
  font-size: 1rem;
}

.search-field input::-ms-input-placeholder {
  font-size: 1rem;
}

.search-field input::placeholder {
  font-size: 1rem;
}

.search-field::after {
  content: "";
  position: absolute;
  display: block;
  width: 2.1429rem;
  height: 2.1429rem;
  top: 0.5714rem;
  right: 2.8571rem;
  background: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.drawing-h2 {
  font-size: 2.5714rem;
  line-height: 2.7143rem;
  margin-top: 2.1429rem;
  margin-bottom: 1.4286rem;
}

.card-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card {
  width: 20rem;
}

.date,
.name {
  font-size: 1.1429rem;
  line-height: 1.2857rem;
  margin: 0.7143rem 0;
}

.description {
  font-size: 1rem;
  line-height: 1.1429rem;
}